name: {{ topology_schema }}

topology:
  nodes:
{% for node in nodes %}
    {{ node.system_name | lower }}:
      kind: nokia_srlinux
      image: ghcr.io/nokia/srlinux
      startup-config: clabconfigs/{{ node.system_name }}.cfg
{% endfor %}

  links:
{% for i in range(4, nodes|length) %}
    - endpoints: ["{{ nodes[i].system_name | lower }}:e1-2", "{{ nodes[2].system_name | lower }}:e1-{{ i - 2 }}"]
    - endpoints: ["{{ nodes[i].system_name | lower }}:e1-3", "{{ nodes[3].system_name | lower }}:e1-{{ i - 2 }}"]
{% endfor %}
{% for i in range(2, 4) %}
{% for j in range(0, 2) %}
    - endpoints: ["{{ nodes[i].system_name | lower }}:e1-{{ 4 + j }}", "{{ nodes[j].system_name | lower }}:e1-{{ i - 1 }}"]
{% endfor %}
{% endfor %}
